body{
	
	background:url(background.jpg) center no-repeat;
	max-width: 90%;
  margin: auto;
	background-size:cover;
	background-attachment: fixed;
	align-items: center;
	justify-content: center;
	font-family: Impact;
	word-spacing: .5rem;
	line-height: 2rem;
}
#vlajky{  
		float: right;
	  top: 0; }
#vlajky img{
	 filter: grayscale(100%);
   transition: filter 1s;
   border-radius: 1.5rem;
 }

#vlajky img:hover {
   filter:none;
}

header{
	display: inline-block;
	
}

nav{
	
  top: 10%;
	padding:10px;
	width: 90%;
	background: white;
	position:absolute;
	overflow: visible;
	border-radius: 0.4rem; 
	z-index: 99; 
	
}
nav ul{
	padding: 0;
	margin: 0 0 0 250px;
	list-style: none;
}
nav li{
  float: left;
}
nav li a {
	width:185px;
	display:block;
	padding:10px 10px;
	text-decoration:none;
	font-family:arial;
	color:grey;
	text-align:center;
}
nav li a:hover{
	transition: 0.5s;
	background:#8B0000;
	text-transform:uppercase;
}
.logo img{
	position: relative;
	
	transform: translate(-20%, 5%);
	width: 400px;
	height: 200px;
	z-index: 99; 
	
}

.karta{
	width: 45%;
	
	transform: translate(10%, 125%);
	
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: .8rem;
	float: right;
}

.karta_nadpis{
			font-size: 2.5rem;
			
			text-transform: uppercase;
			color: #8B0000;
}
.karta_paragraf{
			font-size: 1.5rem;
			
}
.karta_img img{
		transform: translate(0, -5%);
		width: 24%;
		height: auto;
    float: right;
    border: solid 2px;
    box-shadow: 5px 10px 18px #888888;
		border-radius: 1.5rem;
}
#icons {
    height: 500px;
    width: 140px;
    background: none;
    position: fixed;
    left: 0;
    top: calc(50% - 250px);
    display: flex;
    align-items: center;
    filter: drop-shadow(2px 2px 2px grey);
}

#icons #iconsLogo {
    height: 300px;
    width: 50px;
    display: flex;
    flex-direction: column;
}


#icons #iconsLogo i {
    height: 50px;
    width: 50px;
    font-size: 30px;
    margin: 10px;
    color: grey;
    display: grid;
    place-items: center;
    cursor: pointer;
}


