body{
	
	background:none;
	background-color: #777872;
	
}

#media_banner{
	  line-height:0;
   -webkit-column-count:1;
   -webkit-column-gap:10px; /* give it a 5px gap between columns */
   -moz-column-count:1;
   -moz-column-gap:10px;
   column-count:1;
   column-gap:10px;
   
}
#media_banner img {
   width: 100% !important;
   height: auto !important;
   margin-bottom:10px; /* to match column gap */
   background: url(media_banner.png) center no-repeat;
	box-shadow: 5px 10px 18px #888888;
	border-radius: 1rem;
	box-shadow: 10px 12px 22px #888888;

}
#gallery1 {
   line-height:0;
   -webkit-column-count:4;
   -webkit-column-gap:5px; /* give it a 5px gap between columns */
   -moz-column-count:4;
   -moz-column-gap:5px;
   column-count:4;
   column-gap:10px;
   border-radius: 1.5rem;
}
#gallery1 img {
   width: 100% !important;
   height: auto !important;
   margin-bottom:5px; /* to match column gap */
   filter: grayscale(100%);
   transition: filter 1s;
   border-radius: 1.5rem;
   border: solid;
}
#gallery1 img:hover {
   filter:none;
}

#gallery2 {
   line-height:0;
   -webkit-column-count:2;
   -webkit-column-gap:5px; /* give it a 5px gap between columns */
   -moz-column-count:2;
   -moz-column-gap:5px;
   column-count:2;
   column-gap:10px;
}
#gallery2 img {
   width: 100% !important;
   height: auto !important;
   margin-bottom:5px; /* to match column gap */
   filter: grayscale(100%);
   transition: filter 1s;
   border-radius: 1.5rem;
   border: solid;
}
#gallery2 img:hover {
   filter:none;
}

#video_gallery {
   line-height:0;
   -webkit-column-count:3;
   -webkit-column-gap:5px; /* give it a 5px gap between columns */
   -moz-column-count:3;
   -moz-column-gap:5px;
   column-count:3;
   column-gap:10px;
}
#video_gallery video {
   width: 100% !important;
   height: auto !important;
   margin-bottom:5px; /* to match column gap */
   filter: grayscale(100%);
   transition: filter 1s;
   border-radius: 1.5rem;
   border: solid;
}

#video_gallery video:hover {
   filter:none;
}