
.karta{
	background: rgba(255, 255, 255, 1);
	margin-bottom:5px;
}

.fotak_banner img{
	float: right;
	max-width: auto;
	height: 850px;
	box-shadow: 5px 10px 18px #888888;
	display: block;
	align-items: center;
	justify-content: center;
	border-radius: 1.5rem;
	position: relative;
}
.dark_side img{
	float: right;
	left: -2.5%;
	max-width: auto;
	height: 850px;
	box-shadow: 5px 10px 18px #888888;
	display: block;
	align-items: center;
	justify-content: center;
	border-radius: 1.5rem;
	position: relative;
}

.karta_fotak{
	float: left;
	min-width: 41%;
	width: 50%;
	height: 850px;
	background: rgba(255, 255, 255, 0.98);
	box-shadow: 5px 10px 18px #888888;
	display: block;
	align-items: center;
	justify-content: center;
	border-radius: 1.5rem;
	position: relative;
	margin-bottom:5px;
}

.karta_fotak_nadpis{
	font-size: 2.5rem;
	text-transform: uppercase;
	text-align: center;
	color: #8B0000;
}

.karta_fotak_tabulka{
  	font-size: 1.5rem;
  	line-height:5rem;
  	text-align: center;
	  margin: 5% 5% 0% 0%;
	  
}

.fotka_text {
  position: relative;
  text-align: left;
}

.fotka_text button{
  position: absolute;
  top: 70%;
  left: 5%;
  background-color: #8B0000; 
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  margin: 4px 2px;
  cursor: pointer;
  width: 700px;
  border-radius: 3rem;
}
.fotka_text button a{
	text-decoration:none;
	text-transform: uppercase;
	color: white;
	font-family: impact;
}

.fotka_text img {
   width: 100% !important;
   height: auto !important;
   border-radius: 1.5rem;
   border: solid;
}


.fotka_text p{
  position: absolute;
  top: 85%;
  left: 50%;
  right: 0%;
  border: solid 2px;
  border-radius: 0.8rem;
  opacity: .8;
  color: black;
  background-color: #f1c623; 
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 2rem;
  margin: 4px 2px;
}


#fotka2 button{
  
  top: 50%;
  right: 64%;
  background-color: #f1c623;
  
}
#fotka2 button a{
	text-decoration:none;
	text-transform: uppercase;
	color: black;
	font-family: impact;
}

#fotka3 p{
  position: absolute;
  top: 60%;
  right: 1%;
  left: 1%;
  
}
#fotka4 p{
  position: absolute;
  top: 60%;
  left: 0;
  right: 50%; 
}

#fotka5 p{
  position: absolute;
  top: 70%;
  left: 30%;
  right: 0%; 
}

#fotka6 p{
  position: absolute;
  top: 70%;
  left: 30%;
  right: 0%; 
}



