
.parametre_banner img{
	position: fixed;
	float: left;
	width: 17%;
	height: auto;
	box-shadow: 5px 10px 18px #888888;
	display: block;
	align-items: center;
	justify-content: center;
	border: solid 5px;
	border-radius: 1.5rem;
	position: relative;
	left: 20%;
	position: fixed;
 	transition: 0.2s;
}

.karta_parametre{
	float: right;
	min-width: 50%;
	width: 50%;
	min-height: 617.85px;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 5px 10px 18px #888888;
	display: block;
	align-items: center;
	justify-content: center;
	border-radius: 1.5rem;
	position: relative;
	
}

.karta_parametre_nadpis{
	width: 100%;
	font-size: 2.5rem;
	text-transform: uppercase;
	text-align: center;
	color: #8B0000;
	line-height:5rem;
	z-index: 99; 

	
}
.row{
	border: solid 1px;
	border-radius: 1.5rem;
}
.column {
  float: left;
 
}


.left {
  width: 25%;
  font-size: 1rem;
  text-align: center;
  background-color: #3b3b3b;
  color: black; 
  border-radius: 1.5rem;
}
.left p{
  font-size: 1.3rem;
}

.right {
	border-radius: 1.5rem;
  width: 75%;
  text-align: center;
}
.right p{
  font-size: 1.2rem;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
